<ul>
  <!-- names -->
  <li>First name & Last name must NOT have fewer than 3 characters.</li>
  <li>First name & Last name must start with a capital letter.</li>
  <li>First name & Last name can use '_' only as a special character.</li>
</ul>