<ul>
    <!-- password -->
    <li>Password must have at least two uppercase letters.</li>
    <li>Password must have at least one special case letter.</li>
    <li>Password must have at least two digits.</li>
    <li>Password must have at least three lowercase letters.</li>
    <li>Password's length must be 8 or more.</li>
</ul>