<!-- Error -->
<div class="container d-flex flex-column flex-lg-row justify-content-center mt-5 pt-5">
  <!-- heading -->
  <div class="text-center text-lg-start mt-lg-5 pt-lg-5">
    <h1 class="text-primary fw-bold fs-0"><i class="fa-regular fa-face-frown"></i> Error 404 </h1>
    <p class="mx-auto mx-lg-0 fs-4">
      You are not Registered Before !!
    </p>
  </div>
</div>